@charset "UTF-8";
.entering-article, .presentation-postulate, .presentation-perspective, .how-can-you-help, .help-pay, .why-help, .guidelines, .build-nearby, .guarantee, .key-requirements {
  margin: 2em; }

.entering-article__title, .presentation-postulate__title, .presentation-perspective__title, .how-can-you-help__title, .help-pay .grant__title, .help-pay .grant__subtitle, .help-pay .whip-round__title, .help-pay .whip-round__subtitle, .why-help__title, .guidelines__title, .build-nearby__title, .guarantee__title, .key-requirements__title {
  color: #add651;
  text-align: center; }

.entering-article__text, .presentation-postulate__text, .presentation-perspective__text, .how-can-you-help__text, .why-help__text, .guidelines__text, .build-nearby__text, .guarantee__text, .key-requirements__text {
  text-align: justify; }

.help-pay .project-shared__btn {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }
  @media (min-width: 992px) {
    .help-pay .project-shared__btn {
      padding: 0.5em 2em; } }

.presentation-postulate .presentation-postulates, .presentation-perspective .presentation-perspectives, .build-nearby .build-pluses {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .presentation-postulate .presentation-postulates, .presentation-perspective .presentation-perspectives, .build-nearby .build-pluses {
      flex-direction: row; } }

.presentation-postulate .presentation-postulates .postulate, .presentation-perspective .presentation-perspectives .perspective, .build-nearby .build-pluses .build-plus {
  margin: 1em;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .presentation-postulate .presentation-postulates .postulate, .presentation-perspective .presentation-perspectives .perspective, .build-nearby .build-pluses .build-plus {
      max-width: 40%; } }
  @media (min-width: 992px) {
    .presentation-postulate .presentation-postulates .postulate, .presentation-perspective .presentation-perspectives .perspective, .build-nearby .build-pluses .build-plus {
      max-width: 15%; } }

.build-nearby .build-pluses .build-plus__img, .presentation-postulate .presentation-postulates .postulate__img, .presentation-perspective .presentation-perspectives .perspective__img {
  margin-bottom: 1em;
  width: 75%;
  max-width: 10em;
  height: auto; }

.build-nearby .build-pluses .build-plus__img {
  width: 25%;
  max-width: 3em; }

.presentation-postulate .presentation-postulates .postulate__headline, .presentation-perspective .presentation-perspectives .perspective__headline, .build-nearby .build-pluses .build-plus__headline {
  color: #338535;
  font-weight: bold; }

.presentation-postulate .presentation-postulates .postulate__text, .presentation-perspective .presentation-perspectives .perspective__text, .build-nearby .build-pluses .build-plus__text {
  text-align: center;
  font-size: 0.8em; }

.presentation-video, .why-help-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }
  .presentation-video .presentation-video__youtube, .why-help-video .presentation-video__youtube, .presentation-video .why-help-video__youtube, .why-help-video .why-help-video__youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.body {
  display: flex; }

.rkp-logo__img {
  width: 8em;
  height: auto;
  position: fixed;
  top: 4em;
  left: 1em;
  z-index: 20; }
@media min-lg {
  .rkp-logo {
    left: 3em; } }

.main-page {
  width: 100%; }

.main-content {
  padding: 0 10%; }

#aside-show-checkbox {
  display: none; }

@media (max-width: 991px) {
  #aside-show-checkbox:checked ~ .aside-pane {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    width: 70%;
    height: 100%; }
    #aside-show-checkbox:checked ~ .aside-pane .zrzutka {
      display: initial; } }
#aside-show-checkbox:checked ~ .aside-pane .aside-show-trigger > .aside-show-trigger__icon {
  background: transparent; }
  #aside-show-checkbox:checked ~ .aside-pane .aside-show-trigger > .aside-show-trigger__icon::before, #aside-show-checkbox:checked ~ .aside-pane .aside-show-trigger > .aside-show-trigger__icon::after {
    top: 0px; }
  #aside-show-checkbox:checked ~ .aside-pane .aside-show-trigger > .aside-show-trigger__icon::before {
    transform: rotate(-45deg); }
  #aside-show-checkbox:checked ~ .aside-pane .aside-show-trigger > .aside-show-trigger__icon::after {
    transform: rotate(45deg); }

.aside-show-trigger {
  display: inline-block;
  margin: 1em 0 0 0.5em; }
  @media (min-width: 992px) {
    .aside-show-trigger {
      display: none; } }
  .aside-show-trigger .aside-show-trigger__icon {
    display: block;
    position: relative;
    background: #333;
    height: 2px;
    transition: background .2s ease-out;
    width: 18px; }
    .aside-show-trigger .aside-show-trigger__icon::before, .aside-show-trigger .aside-show-trigger__icon::after {
      background: #333;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .5s ease-out;
      width: 100%; }
    .aside-show-trigger .aside-show-trigger__icon::before {
      top: 5px; }
    .aside-show-trigger .aside-show-trigger__icon::after {
      top: -5px; }

.aside-pane {
  display: flex;
  background-color: #338535;
  flex-direction: column;
  transition: display 1s ease-out;
  min-width: 2em; }

.zrzutka {
  display: none;
  top: 4em; }
  @media (min-width: 992px) {
    .zrzutka {
      display: initial; } }
  .zrzutka__links {
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly; }
  .zrzutka__link {
    color: #add651; }
    .zrzutka__link:hover {
      color: #e7f6cd; }
    .zrzutka__link > .link__ico {
      height: auto;
      width: 2em;
      filter: invert(0.8); }
  .zrzutka__render {
    width: 100%;
    height: 27em; }
  @media (min-width: 992px) {
    .zrzutka {
      position: sticky; } }

.before-header {
  background-color: #000;
  color: #add651;
  display: inline-flex;
  width: 100%;
  padding: 1em;
  justify-content: space-between; }

.header {
  background-color: #fff;
  padding: 1em;
  display: flex;
  justify-content: flex-end; }
  .header__link {
    color: #000;
    text-decoration: none;
    margin: 0 0.5rem; }
    .header__link:active {
      color: #d4e9a4; }
  @media (max-width: 991px) {
    .header__link:first-child {
      display: none; } }

.carousel-caption__header {
  margin-bottom: 15rem;
  font-weight: 800; }
.carousel-caption__text {
  text-rendering: optimizeLegibility; }

.read-more-btn {
  display: none; }

.read-more-btn ~ .read-more-trigger::before {
  content: "Czytaj więcej";
  color: #ea0449; }

.read-more-btn:checked ~ .read-more-trigger::before {
  content: "Zwiń"; }

.extendable-text {
  font-size: 0;
  opacity: 0;
  transition: 0.5s ease-in-out; }

.read-more-btn:checked ~ .extendable-text {
  font-size: inherit;
  opacity: 1; }

.presentation-video {
  text-align: center; }

.help-pay {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; }
  .help-pay .grant {
    text-align: center; }
    .help-pay .grant__subtitle {
      color: #000; }
    .help-pay .grant__address {
      display: flex;
      flex-direction: column; }
    .help-pay .grant__bank {
      display: flex;
      flex-direction: column; }
  .help-pay .whip-round {
    text-align: center; }
    .help-pay .whip-round__subtitle {
      color: #000;
      margin: 0; }
    .help-pay .whip-round__img {
      vertical-align: baseline;
      width: 100%; }
  .help-pay .project-shared {
    display: none;
    min-height: 4em;
    padding: 0 2em;
    background-color: #e7f6cd;
    justify-content: space-between;
    align-items: center; }
    .help-pay .project-shared__text--colored {
      color: #338535;
      font-size: 1.2em;
      font-weight: 800; }
    .help-pay .project-shared__btn--fb {
      color: #3b5998;
      border-color: #3b5998;
      background-color: #fff; }
      .help-pay .project-shared__btn--fb:hover {
        color: #fff;
        border-color: #3b5998;
        background-color: #3b5998; }
    .help-pay .project-shared__btn--tt {
      color: #00acee;
      border-color: #00acee;
      background-color: #fff; }
      .help-pay .project-shared__btn--tt:hover {
        color: #fff;
        border-color: #00acee;
        background-color: #00acee; }
  @media (min-width: 992px) {
    .help-pay {
      grid-template-columns: 50% 50%; } }

.why-help-video {
  text-align: center; }

.guidelines__text--bold {
  font-weight: bold;
  font-style: italic;
  font-style: 1.2em; }

.key-requirements .requirements {
  list-style-type: none; }
  .key-requirements .requirements__item {
    text-align: justify;
    margin: 1em 0; }

.moon-face-list :nth-child(8n+1)::before {
  content: '🌑';
  margin: 0 10px 0 -20px; }
.moon-face-list :nth-child(8n+2)::before {
  content: '🌒';
  margin: 0 10px 0 -20px; }
.moon-face-list :nth-child(8n+3)::before {
  content: '🌓';
  margin: 0 10px 0 -20px; }
.moon-face-list :nth-child(8n+4)::before {
  content: '🌔';
  margin: 0 10px 0 -20px; }
.moon-face-list :nth-child(8n+5)::before {
  content: '🌕';
  margin: 0 10px 0 -20px; }
.moon-face-list :nth-child(8n+6)::before {
  content: '🌖';
  margin: 0 10px 0 -20px; }
.moon-face-list :nth-child(8n+7)::before {
  content: '🌗';
  margin: 0 10px 0 -20px; }
.moon-face-list :nth-child(8n)::before {
  content: '🌘';
  margin: 0 10px 0 -20px; }

/*# sourceMappingURL=style.css.map */
