@charset "UTF-8";
.entering-article, .presentation-postulate, .presentation-perspective, .how-can-you-help, .help-pay, .why-help, .guidelines, .build-nearby, .guarantee, .key-requirements {
  margin: 2em; }

.presentation-postulate__title, .presentation-perspective__title, .entering-article__title, .how-can-you-help__title, .help-pay .grant__title, .help-pay .grant__subtitle, .help-pay .whip-round__title, .help-pay .whip-round__subtitle, .why-help__title, .guidelines__title, .build-nearby__title, .guarantee__title, .key-requirements__title {
  color: #add651;
  text-align: center; }
  @media (max-width: 768px) {
    .presentation-postulate__title, .presentation-perspective__title, .entering-article__title, .how-can-you-help__title, .help-pay .grant__title, .help-pay .grant__subtitle, .help-pay .whip-round__title, .help-pay .whip-round__subtitle, .why-help__title, .guidelines__title, .build-nearby__title, .guarantee__title, .key-requirements__title {
      font-size: 2rem; } }

.presentation-postulate__title, .presentation-perspective__title {
  margin-bottom: 0; }

.entering-article__text, .presentation-postulate__text, .presentation-perspective__text, .how-can-you-help__text, .why-help__text, .guidelines__text, .build-nearby__text, .guarantee__text, .key-requirements__text {
  text-align: justify; }

.presentation-postulate .presentation-postulates, .presentation-perspective .presentation-perspectives, .build-nearby .build-pluses {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  @media (min-width: 768px) {
    .presentation-postulate .presentation-postulates, .presentation-perspective .presentation-perspectives, .build-nearby .build-pluses {
      flex-direction: row; } }

.presentation-postulate .presentation-postulates .postulate, .presentation-perspective .presentation-perspectives .perspective, .build-nearby .build-pluses .build-plus {
  margin: 1em;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .presentation-postulate .presentation-postulates .postulate, .presentation-perspective .presentation-perspectives .perspective, .build-nearby .build-pluses .build-plus {
      max-width: 40%; } }
  @media (min-width: 992px) {
    .presentation-postulate .presentation-postulates .postulate, .presentation-perspective .presentation-perspectives .perspective, .build-nearby .build-pluses .build-plus {
      max-width: 15%; } }

.build-nearby .build-pluses .build-plus__img, .presentation-postulate .presentation-postulates .postulate__img, .presentation-perspective .presentation-perspectives .perspective__img {
  margin-bottom: 1em;
  width: 75%;
  max-width: 10em;
  height: auto; }
  @media (min-width: 992px) {
    .build-nearby .build-pluses .build-plus__img, .presentation-postulate .presentation-postulates .postulate__img, .presentation-perspective .presentation-perspectives .perspective__img {
      max-width: 8em; } }

.build-nearby .build-pluses .build-plus__img {
  width: 25%;
  max-width: 3em; }

.presentation-postulate .presentation-postulates .postulate__headline, .presentation-perspective .presentation-perspectives .perspective__headline, .build-nearby .build-pluses .build-plus__headline {
  color: #338535;
  font-weight: bold; }

.presentation-postulate .presentation-postulates .postulate__text, .presentation-perspective .presentation-perspectives .perspective__text, .build-nearby .build-pluses .build-plus__text {
  text-align: center;
  font-size: 0.9em; }

.presentation-video, .why-help-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }
  .presentation-video .presentation-video__youtube, .why-help-video .presentation-video__youtube, .presentation-video .why-help-video__youtube, .why-help-video .why-help-video__youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.contacts-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 20; }

.contacts-links__link {
  margin-bottom: 1em; }

.contacts-links__img {
  height: auto;
  width: 2em; }
  @media (min-width: 992px) {
    .contacts-links__img {
      width: 3em; } }

.help-pay .whip-round__render, .zrzutka__render {
  width: 70%;
  height: 450px; }
  @media (min-width: 992px) {
    .help-pay .whip-round__render, .zrzutka__render {
      width: 50%; } }

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
.body {
  display: flex; }

.rkp-logo__img {
  width: 6em;
  height: auto;
  position: absolute;
  top: 4em;
  left: 1em;
  z-index: 20;
  transition: all 5s ease-in-out; }
  .rkp-logo__img:hover {
    animation: rotation 2s infinite linear;
    -webkit-animation: rotation 2s infinite linear; }
  @media (min-width: 768px) {
    .rkp-logo__img {
      position: fixed; } }
  @media (min-width: 1200px) {
    .rkp-logo__img {
      top: 3em;
      width: 8em; } }

.start-link__img {
  width: 2em;
  height: auto;
  position: fixed;
  bottom: 5em;
  right: 8vw;
  z-index: 20;
  padding: 0.1em;
  background-color: #add651;
  border-radius: 50%; }

.main-page {
  width: 100%; }

.main-content {
  padding: 0 10%; }

.before-header {
  background-color: #000;
  color: #add651;
  display: inline-flex;
  width: 100%;
  padding: 1em;
  justify-content: space-between; }

.header {
  background-color: #fff;
  padding: 1em;
  display: flex;
  justify-content: flex-end; }
  .header__link {
    color: #000;
    text-decoration: none;
    margin: 0 0.5rem; }
    .header__link:active {
      color: #d4e9a4; }

.carousel-item__img {
  width: 100%;
  object-fit: cover;
  max-height: 40vh; }
  @media (min-width: 1200px) {
    .carousel-item__img {
      max-height: 50vh; } }

.carousel-caption {
  bottom: 15% !important;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 5px 0 !important;
  color: #add651 !important; }
  @media (min-width: 992px) {
    .carousel-caption__text {
      font-size: 2.5rem; } }
  .carousel-caption__text--nowrap {
    white-space: nowrap; }

.read-more-btn {
  display: none; }

@media (min-width: 992px) {
  .read-more-trigger {
    display: none; } }

.read-more-btn ~ .read-more-trigger::before {
  content: "Czytaj więcej";
  color: #ea0449; }

.read-more-btn:checked ~ .read-more-trigger::before {
  content: "Zwiń"; }

.extendable-text {
  font-size: 0;
  opacity: 0;
  transition: 0.5s ease-in-out; }
  @media (min-width: 992px) {
    .extendable-text {
      font-size: initial;
      opacity: initial; } }

.read-more-btn:checked ~ .extendable-text {
  font-size: inherit;
  opacity: 1; }

.presentation-video {
  text-align: center; }

.help-pay {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto; }
  .help-pay .grant {
    text-align: center; }
    .help-pay .grant__subtitle {
      color: #000; }
    .help-pay .grant__address {
      display: flex;
      flex-direction: column; }
    .help-pay .grant__bank {
      display: flex;
      flex-direction: column; }
  .help-pay .whip-round {
    text-align: center; }
    .help-pay .whip-round__render {
      width: 100%; }
    .help-pay .whip-round__subtitle {
      color: #000;
      margin: 0; }
    .help-pay .whip-round__img {
      vertical-align: baseline;
      width: 100%; }
  @media (min-width: 992px) {
    .help-pay {
      grid-template-columns: 50% 50%; } }

.why-help-video {
  text-align: center; }

.guidelines__text--bold {
  font-weight: bold;
  font-style: italic;
  font-style: 1.2em; }

.key-requirements .requirements {
  list-style-type: none;
  padding-inline-start: 0; }
  .key-requirements .requirements__item {
    text-align: justify;
    margin: 1em 0; }

.moon-face-list .moon-face:nth-child(8n+1)::before {
  content: '🌑';
  margin: 0 10px 0 -20px; }
.moon-face-list .moon-face:nth-child(8n+2)::before {
  content: '🌒';
  margin: 0 10px 0 -20px; }
.moon-face-list .moon-face:nth-child(8n+3)::before {
  content: '🌓';
  margin: 0 10px 0 -20px; }
.moon-face-list .moon-face:nth-child(8n+4)::before {
  content: '🌔';
  margin: 0 10px 0 -20px; }
.moon-face-list .moon-face:nth-child(8n+5)::before {
  content: '🌕';
  margin: 0 10px 0 -20px; }
.moon-face-list .moon-face:nth-child(8n+6)::before {
  content: '🌖';
  margin: 0 10px 0 -20px; }
.moon-face-list .moon-face:nth-child(8n+7)::before {
  content: '🌗';
  margin: 0 10px 0 -20px; }
.moon-face-list .moon-face:nth-child(8n)::before {
  content: '🌘';
  margin: 0 10px 0 -20px; }

.contacts-links {
  position: fixed;
  bottom: 1em;
  left: 1em; }

.zrzutka {
  text-align: center; }

/*# sourceMappingURL=style.css.map */
