@import 'abstracts';


@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.body {
    display: flex;
}

.rkp-logo {
    &__img {
        width: 8em;
        height: auto;
        position: fixed;
        top: 4em;
        left: 1em;
        z-index: 20;
        transition: all 5s ease-in-out;
        &:hover {
            -webkit-animation: rotation 2s infinite linear;
        }
    }

    @media #{min-lg} {
        left: 3em;
    }
}

.main-page {
    width: 100%;
}

.main-content {
    padding: 0 10%;
}

#aside-show-checkbox {
    display: none;
}

#aside-show-checkbox:checked ~ .aside-pane {
    @media #{$max-lg} {
        position: fixed;
        top: 0;
        right:0;
        z-index: 20;
        width: 70%;
        height: 100%;
        & .zrzutka {
            display: initial;
        }
    }
    .aside-show-trigger > .aside-show-trigger__icon {
        background: transparent;
        &::before, &::after {
            top: 0px;
        }
        &::before {
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(45deg);
        }
    }
}

.aside-show-trigger {
    @media #{$min-lg} {
        display: none;
    }
    display: inline-block;
    margin: 1em 0 0 0.5em;
    .aside-show-trigger__icon {
        display: block;
        position: relative;

        background: #333;
        height: 2px;
        transition: background .2s ease-out;
        width: 18px;
        &::before, &::after {
            background: #333;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .5s ease-out;
            width: 100%;
        }

        &::before {
            top: 5px;
        }

        &::after {
            top: -5px;
        }
    }
}

.aside-pane {
    display: flex;
    background-color: $rkp-dark-green;
    flex-direction: column;
    transition: display 1s ease-out;
    min-width: 2em;
}

.zrzutka {
    display: none;
    @media #{$min-lg} {
        display: initial
    }
    top: 4em;
    &__links {
        margin: 1em 0;
        display: flex;
        justify-content: space-evenly;
    }
    &__link {
        color: $rkp-green;

        &:hover {
            color: $rkp-light-green;
        }

        & > .link__ico {
            height: auto;
            width: 2em;
            // filter: invert(0.8);
        }
    }
    &__render {
        width: 100%;
        height: 27em;
    }

    @media #{$min-lg} {
        position: sticky;
    }
}

.before-header {
    background-color: #000; 
    color: $rkp-green; 
    display: inline-flex; 
    width: 100%; 
    padding: 1em; 
    justify-content: space-between;
}

.header {
    background-color: #fff;
    padding: 1em;
    display: flex;
    justify-content: flex-end;

    &__link {
        color: #000;
        text-decoration: none;
        margin: 0 0.5rem;
        &:active {
            color: lighten($color: $rkp-green, $amount: 20);
        }
    }

    &__link:first-child {
        @media #{$max-lg} {
            display: none;
        }
    }
}


.carousel-caption {
    &__header {
        margin-bottom: 15rem;
        font-weight: 800;
    }

    &__text {
        text-rendering: optimizeLegibility;
    }
}

.read-more-btn {
    display: none;
}

.read-more-btn ~ .read-more-trigger::before {
    content: "Czytaj więcej";
    color: $rkp-light-red;
}

.read-more-btn:checked ~ .read-more-trigger::before {
    content: "Zwiń";
}

.extendable-text {
    font-size: 0;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.read-more-btn:checked ~ .extendable-text {
    font-size: inherit;
    opacity: 1;
}


.entering-article {
    @extend %abstract-article;

    &__title {
        @extend %abstract-article__title;
    }

    &__text {
        @extend %abstract-article__text;
    }
}

.presentation-postulate {
    @extend %abstract-article;
    &__title {
        @extend %abstract-article__title;
    }
    &__text {
        @extend %abstract-article__text;
    }

    .presentation-postulates {
        @extend %abstract-ulist;

        .postulate {
            @extend %abstract-ulist__item;
            &__img {
                @extend %abstract-ulist__img;
            }
    
            &__headline {
                @extend %abstract-ulist__headline;
            }
    
            &__text {
                @extend %abstract-ulist__text;
            }
        }
    }

}

.presentation-perspective {
    @extend %abstract-article;
    &__title {
        @extend %abstract-article__title;
    }
    &__text {
        @extend %abstract-article__text;
    }

    .presentation-perspectives {
        @extend %abstract-ulist;

        .perspective {
            @extend %abstract-ulist__item;
            &__img {
                @extend %abstract-ulist__img;
            }
    
            &__headline {
                @extend %abstract-ulist__headline;
            }
    
            &__text {
                @extend %abstract-ulist__text;
            }
        }
    }

}

.presentation-video {
    text-align: center;
    @extend %abstract-video-wrapper;
    &__youtube {
        @extend %abstract-video
    }
}

.how-can-you-help {
    @extend %abstract-article;
    &__title {
        @extend %abstract-article__title;
    }
    &__text {
        @extend %abstract-article__text;
    }
}

.help-pay {
    @extend %abstract-article;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    .grant {
        text-align: center;
        &__title {
            @extend %abstract-article__title;
        }

        &__subtitle {
            @extend %abstract-article__title;
            color: #000;
        }

        &__address {
            display: flex;
            flex-direction: column;

        }

        &__bank {
            display: flex;
            flex-direction: column;
            
        }
    }

    .whip-round {
        text-align: center;
        &__title {
            @extend %abstract-article__title;
        }

        &__subtitle {
            @extend %abstract-article__title;
            color: #000;
            margin: 0;
        }

        &__link {

        }

        &__img {
            vertical-align: baseline;
            width: 100%;
        }
    }

    .project-shared {
        display: none;
        min-height: 4em;
        padding: 0 2em;
        background-color: $rkp-light-green;
        justify-content: space-between;
        align-items: center;
        &__text {
            &--colored {
                color: $rkp-dark-green;
                font-size: 1.2em;
                font-weight: 800;
            }
        }
        

        &__btn {
            @extend %abstract-button;
            &--fb {
                @include color-background-hover-invert($fb-blue, #fff);
            }

            &--tt {
                @include color-background-hover-invert($tt-blue, #fff);
            }
        }
    }

    @media #{$min-lg} {
        grid-template-columns: 50% 50%;

        // .project-shared {
        //     grid-column: 1 / 3;
        // }
    }
}

.why-help {
    @extend %abstract-article;
    &__title {
        @extend %abstract-article__title;
    }
    &__text {
        @extend %abstract-article__text;
    }
    &-video {
        text-align: center;
        @extend %abstract-video-wrapper;
        &__youtube {
            @extend %abstract-video;
        }
    }
}

.guidelines {
    @extend %abstract-article;
    &__title {
        @extend %abstract-article__title;
    }
    &__text {
        @extend %abstract-article__text;

        &--bold {
            font-weight: bold;
            font-style: italic;
            font-style: 1.2em;
        }
    }
}

.build-nearby {
    @extend %abstract-article;
    &__title {
        @extend %abstract-article__title;
    }
    &__text {
        @extend %abstract-article__text;
    }

    .build-pluses {
        @extend %abstract-ulist;

        .build-plus {
            @extend %abstract-ulist__item;
            &__img {
                @extend %abstract-ulist__img--small;
            }
    
            &__headline {
                @extend %abstract-ulist__headline;
            }
    
            &__text {
                @extend %abstract-ulist__text;
            }
        }
    }
}

.guarantee  {
    @extend %abstract-article;
    &__title {
        @extend %abstract-article__title;
    }
    &__text {
        @extend %abstract-article__text;
    }
}

.key-requirements {
    @extend %abstract-article;
    &__title {
        @extend %abstract-article__title;
    }
    &__text {
        @extend %abstract-article__text;
    }
    .requirements {

        list-style-type: none;
        &__item {
            text-align: justify;
            margin: 1em 0;
        }
    }
}

.moon-face-list {
    :nth-child(8n+1) {
        &::before {
            content: '🌑';
            margin: 0 10px 0 -20px;
        }
    }
    
    :nth-child(8n+2) {
        &::before {
            content: '🌒';
            margin: 0 10px 0 -20px;
        }
    }

    :nth-child(8n+3) {
        &::before {
            content: '🌓';
            margin: 0 10px 0 -20px;
        }
    }

    :nth-child(8n+4) {
        &::before {
            content: '🌔';
            margin: 0 10px 0 -20px;
        }
    }

    :nth-child(8n+5) {
        &::before {
            content: '🌕';
            margin: 0 10px 0 -20px;
        }
    }

    :nth-child(8n+6) {
        &::before {
            content: '🌖';
            margin: 0 10px 0 -20px;
        }
    }

    :nth-child(8n+7) {
        &::before {
            content: '🌗';
            margin: 0 10px 0 -20px;
        }
    }

    :nth-child(8n) {
        &::before {
            content: '🌘';
            margin: 0 10px 0 -20px;
        }
    }
}